<ion-header>
<ion-navbar>
  <button ion-button menuToggle *ngIf="!post">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Giving</ion-title>
  <ion-buttons end>
           <button ion-button class="btnspace" clear (click)="share(post)">
    <ion-icon class="footericon" name="share"></ion-icon>
  </button>
          <button ion-button class="btnspace" clear (click)="bookmark(post)">
    <ion-icon class="footericon" name="bookmark"></ion-icon>
  </button>
  </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="post.thumbnail" class="postimage, cntr"><img src={{post.thumbnail}} /></div>
    <div class="cardtitle" [innerHTML]="post.title.rendered" ></div>
    <br>
    <div class="cardcontent" [innerHTML]="post.content.rendered"></div>
  <!--<div class="center"><button ion-button large (click)="openLink(post.article[0])">
      <ion-icon name="ios-pricetags"></ion-icon>
     Read Article</button></div>-->
</ion-content>
