<ion-header class="postnavbar">
<ion-navbar>
  <button ion-button menuToggle *ngIf="!post">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Giving</ion-title>
  <ion-buttons end>
           <button ion-button class="btnspace" clear (click)="share(post)">
    <ion-icon class="footericon" name="share"></ion-icon>
  </button>
          <button ion-button class="btnspace" clear (click)="bookmark(post)">
    <ion-icon class="footericon" name="bookmark"></ion-icon>
  </button>
  </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="post.thumbnail" class="postimage, cntr"><img src={{post.thumbnail}} /></div>
    <div padding class="cardtitle" [innerHTML]="post.title.rendered" ></div>
    <br>
    <div class="cardcontent" [innerHTML]="post.content.rendered">
    </div>
    
  <div *ngIf="post.article[0]"class="center"><button class="btnstyle" ion-button large (click)="openLink(post.article[0])">
     Visit Website</button><br><br></div>
</ion-content>
