.directory {
}

 .dtcardtitle{
        font-size: 6vw;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.dtcardimage img {
        max-height: 50vw;
        object-fit: cover;
        object-position: center;
        padding-bottom: 5px;
    }

.dtaddress {
    font-size: 3.8vw;
    text-align: center;
    padding-bottom: 5px;
}

.dtphone {
    font-size: 3.8vw;
    text-align: center;
    padding-bottom: 5px;

}

.dtemail {
    font-size: 3.8vw;
    text-align: center;
    padding-bottom: 5px;

}

.dturl {
    font-size: 3.8vw;
    text-align: center;
    padding-bottom: 5px;

}

.dtcontact {
    font-size: 4.2vw;
    text-align: center;
    padding-bottom: 15px;
}

.spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }