.directory {
}

 .dtcardtitle{
        font-size: 6vw;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.dtcardimage img {
        max-height: 50vw;
        object-fit: cover;
        object-position: center;
        padding-bottom: 5px;
    }

.dtaddress {
    font-size: 3.8vw;
    text-align: center;
    padding-bottom: 5px;
}

.dtphone {
    font-size: 3.8vw;
    text-align: center;
    padding-bottom: 5px;

}

.dtemail {
    font-size: 3.8vw;
    text-align: center;
    padding-bottom: 5px;

}

.dturl {
    font-size: 3.8vw;
    text-align: center;
    padding-bottom: 5px;

}

.dtcontact {
    font-size: 4.2vw;
    text-align: center;
    padding-bottom: 15px;
}

.spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .pagebackground {
/* Background: */
background-image: linear-gradient(-206deg, #0097A7 8%, #3F51B5 63%, #3F51B5 87%);
border: 1px solid #979797;
box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.50);
}