// http://ionicframework.com/docs/v2/theming/


// Global CSS
// -------------------------------------------------- 
// Put CSS rules here that you want to apply globally.
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//
// App Shared Sass variables belong in app.variables.scss.


.pagebackground {
/* Background: */
background-image: linear-gradient(-206deg, #0097A7 8%, #3F51B5 63%, #3F51B5 87%);
border: 1px solid #979797;
box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.50);
}