<ion-header>
<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Calendar</ion-title>
    <ion-buttons end>
      <button class="btnsize" ion-button color="light" (click)="syncPosts()">
      <ion-icon name="md-sync" ></ion-icon>
      </button>
       </ion-buttons>
  <button ion-button menuToggle="right" right>
    <ion-icon name="funnel"></ion-icon>
  </button>
</ion-navbar>
</ion-header>

<ion-content class="pagebackground">

  <!--<div *ngIf="loadSpinner" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>-->

   <ion-searchbar [(ngModel)]="calendarService.clSearch" (ngModelChange)="calendarService.searching(calendarService.clSearch)" debounce="750"></ion-searchbar>
  
  <!--<div tappable (ionInput)="hideKeyboard()" *ngIf="kShow" class="emptySearch"><br><ion-icon name="close" ></ion-icon> close keyboard<br></div>-->

  <!--<div *ngIf="posts == null">
    <div class="vcenter">
      <div class="vitem">
    <button (click)="loadPosts()">Sync Calendar
      <ion-icon name="md-sync"></ion-icon>
    </button>
      </div>
  </div>
  </div>-->
  <!--<div onload="openLoader()"></div>-->
  <!--<div *ngIf="posts != null">-->
    <!--<div *ngIf="!calendarService.filtersList[0].toggle &&
   !calendarService.filtersList[1].toggle &&
   !calendarService.filtersList[2].toggle &&
   !calendarService.filtersList[3].toggle &&
   !calendarService.filtersList[4].toggle">
  <ion-list *ngFor="let post of posts; let i = index" >
   
    <div *ngIf="
      (searchbar(posts, i) ||
      calendarService.searched == '')">
      <ion-card class="headercarddate" *ngIf="headerDate(posts, i)">
      <div >{{month[post.start.getMonth()]}} {{post.start.getDate()}} ( {{day[post.start.getDay()]}} )</div>
    </ion-card>
      <ion-card >
        <div tappable (click)="openPost(post)">
      <div class="cardimage"><img src={{post.thumbnail}} /></div>
      <div class="cardcontainer">
       
        <div padding class="cardtitle"> {{post.title.rendered}}</div>
        <div class="carddate"> {{post.start2}}</div>
        <div class="cardcontent"> {{post.excerpt}}</div>
        </div>
      </div>
<div class="cardfooter">
        <ion-buttons end>
           <button ion-button clear (click)="share(post)">
    <ion-icon class="footericon" name="share"></ion-icon>
  </button>
          <button ion-button clear (click)="bookmark(post)">
    <ion-icon class="footericon" name="bookmark"></ion-icon>
  </button>
  </ion-buttons>
  </div>
    </ion-card>
    
    </div>
  </ion-list>
  </div>-->

    <!--<div *ngIf="calendarService.filtersList[0].toggle ||
   calendarService.filtersList[1].toggle ||
   calendarService.filtersList[2].toggle ||
   calendarService.filtersList[3].toggle ||
   calendarService.filtersList[4].toggle">-->
  <ion-list *ngFor="let post of posts; let i = index" >
   
    <div *ngIf="((!calendarService.filtersList[0].toggle &&
   !calendarService.filtersList[1].toggle &&
   !calendarService.filtersList[2].toggle &&
   !calendarService.filtersList[3].toggle &&
   !calendarService.filtersList[4].toggle) ||
      (post.term_taxonomy_id==calendarService.filtersList[0].category || 
      post.term_taxonomy_id==calendarService.filtersList[1].category || 
      post.term_taxonomy_id==calendarService.filtersList[2].category || 
      post.term_taxonomy_id==calendarService.filtersList[3].category || 
      post.term_taxonomy_id==calendarService.filtersList[4].category )) &&
      (searchbar(posts, i) ||
      calendarService.searched == '')">
      <ion-card class="headercarddate" *ngIf="headerDate(posts, i)">
      <div >{{month[post.start.getMonth()]}} {{post.start.getDate()}} ( {{day[post.start.getDay()]}} )</div>
    </ion-card>
      <ion-card >
        <div tappable (click)="openPost(post)">
      <div class="cardimage"><img src={{post.thumbnail}} /></div>
      <div class="cardcontainer">
        <!--<div class="cardtitle" [innerHTML]="post.title.rendered"></div>
        <div class="carddate" [innerHTML]="post.start.toLocaleString()"></div>
        <div class="cardcontent" [innerHTML]="post.excerpt"></div>-->
        <div padding class="cardtitle"> {{post.title.rendered}}</div>
        <div class="carddate"> {{post.start2}}</div>
        <div class="cardcontent"> {{post.excerpt}}</div>
        </div>
      </div>
      <!--<hr>-->
<div class="cardfooter">
        <ion-buttons end>
           <button ion-button clear (click)="share(post)">
    <ion-icon class="footericon" name="share"></ion-icon>
  </button>
          <button ion-button clear (click)="bookmark(post)">
    <ion-icon class="footericon" name="bookmark"></ion-icon>
  </button>
  </ion-buttons>
  </div>
    </ion-card>
    
    </div>
  </ion-list>
  <!--</div>-->
  <!--</div>-->
 <!--<div onload="closeLoader()"></div>-->
</ion-content>